@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;500;800&family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Ubuntu';
	font-size: 17px;
	margin: 0;
}

h1, h2{
	font-family: 'Sansita Swashed', cursive;
	}

h1{
	font-size: 27px; 
}

h3{
	margin-left: 0px;
}

a{
	text-decoration: none;
}

.contact{
	margin-left: 250px;
	font-size: 15px;
	font-weight: lighter;
}
